body {
    background-color: rgb(100, 150, 163);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(29, 37, 51)
}
h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(29, 37, 51)
}

header {
    background-color: rgb(157, 208, 221);
    text-align: center;
    padding: 1%
}

nav {
    text-align: center;
    margin-top: 2%;
}

a[href="#"] {
    color:rgb(29, 37, 51);
    text-decoration: none;
    padding: 1%;
    letter-spacing: 0.5cap;
}

a {
    color:rgb(29, 37, 51);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

#home {
    padding: 0.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid black;
    background-color: rgb(157, 208, 221);
    line-height: normal;
}

li {
    list-style-type: upper-alpha;
    padding: 0.3%;
}

#attractions {
    padding: 0.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid black;
    background-color: rgb(157, 208, 221);
    line-height: normal;
}

#food {
    padding: 0.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid black;
    background-color: rgb(157, 208, 221);
    line-height: normal;
}

#contact {
    padding: 0.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid black;
    background-color: rgb(157, 208, 221);
    line-height: normal;
}

footer {
    background-color: rgb(152, 204, 204);
    text-align: center;
    font-size: small;
}
